@{
    ViewData["Title"] = "Subtext Matches";
}

<div>
    <h4>Subtext Matches</h4>
    <table id="textTable">
        <tr>
            <td>
                <label for="txtText">Text </label>
            </td>
            <td>
                <input id="txtText" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtText">Subtext </label>
            </td>
            <td>
                <input id="txtSubtext" type="text" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtText">Matched Indexes </label>
            </td>
            <td>
                <input id="txtMatchIndexes" type="text" value="" readonly />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td align="right" valign="bottom">
                <input id="btnSubmit" type="button" value="Search" />
            </td>
        </tr>
    </table>
</div>